# Ignora el generador y sus archivos
/generador/

# Ignora entorno virtual
/venv/

# Ignora archivos temporales de Python
__pycache__/
*.py[cod]

# Ignora archivos del sistema operativo
.DS_Store
Thumbs.db